<h1>
  <%= gravatar_for @user %>
</h1>
<h3>
  <%= @user.name %><br>
</h3>
  <div>
  <%= @user.email %><br>
  <%= @user.company %><br>
  <%= @user.biography %><br>
  <%= link_to "edit your profile", edit_user_path(@user.id) %>
  </div>
